.share-box {
  width: fit-content;
  height: fit-content;
  background-color: #f8f8f8;
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  outline: solid 1px #1e1e1e;
  box-shadow: 0 4px 4px #00000025;
  display: none;
}